<p id="notice"><%= notice %></p>

<h1>Re-Racking</h1>

<% if @assets && !@activity.finished? %>
  <%= render :partial =>'steps/active', :locals => {
    :step_types => @step_types,
    :activity => @activity }
    %>
<% end %>

<% if @activity.finished? %>
<div class="panel">
  This activity was finished at <%= @activity.completed_at %>
</div>
<% else %>
  <%= render :partial => 'activities/assets_selection' %>
<% end %>

<%= bootstrap_link_to 'Back', :back %>
