<p id="notice"><%= notice %></p>

<h1>Re-Racking</h1>

<% if @assets && !@activity.finished? %>
  <%= render :template =>'step_types/active', :locals => {
    :step_types => @step_types,
    :activity => @activity }
    %>
<% end %>

<% if @activity.finished? %>
<div class="panel">
  This activity was finished at <%= @activity.completed_at %>
</div>
<% else %>
  <% @step_types = [] if @step_types.nil? %>
  <%= render :partial => 'asset_groups/asset_group' %>
<% end %>

<%= bootstrap_link_to 'Back', :back %>
