<p id="notice"><%= notice %></p>

<h1>Samples Not started</h1>

<div id="samples_not_started">
<ul class="nav nav-tabs">
  <% @activity_types.each_with_index do |activity_type, index| %>
    <li role="presentation" class="<%= 'active' if index==0 %>">
      <a data-activity-type-id="<%= activity_type.id %>" href="#at-<%= activity_type.id %>" aria-controls="at-<%= activity_type.id %>" role="tab" data-toggle="tab"><%= activity_type.name %></a>
    </li>
  <% end %>
</ul>
  <div class="tab-content">
    <% @assets_for_activity_types.each_with_index do |obj, index| %>
      <% activity_type = obj[:activity_type] %>
      <% assets = obj[:assets] %>
      <div role="tabpanel" class="tab-pane  <%= 'active' if index==0%>" id="at-<%= activity_type.id %>">
        <div class="panel-body">
          <% if assets.nil? || assets.empty? %>
            This activity type has no samples compatible yet.
          <% else %>
            <table class='table table-condensed'>
              <thead>
                <th>Asset</th><th>Facts</th>
              </thead>
              <tbody>
                <% assets.each do |asset| %>
                  <tr>
                    <td><%= asset.barcode %></td>
                    <td>
                      <%= render :partial => 'facts/facts', :locals => { :facts => asset.facts} %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
        <div class="panel-footer">
          <% if assets %>
            <%= will_paginate assets, renderer: BootstrapPagination::Rails,
               :params => { :activity_type_id => activity_type.id } %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<script type='text/javascript'>
(function() {
  $('#samples_not_started .nav li a').each(function(pos, node) {
    var value = false;
    <% if defined?(@activity_type_selected) %>
      value =<%= (@activity_type_selected && @activity_type_selected.id).to_json %>;
    <% end %>
    if ($(node).data('activity-type-id')===value) {
      $(node).tab('show');
    }
  });
}());
</script>
