<p id="notice"><%= notice %></p>

<h1>Samples not started</h1>

<div id="samples_started">
<ul class="nav nav-tabs">
  <% @activity_types.each_with_index do |activity_type, index| %>
    <li role="presentation" class="<%= 'active' if index==0%>">
      <a href="#at-<%= activity_type.id %>" aria-controls="at-<%= activity_type.id %>" role="tab" data-toggle="tab"><%= activity_type.name %></a>
    </li>
  <% end %>
</ul>
  <div class="tab-content">
    <% @activity_types.each_with_index do |activity_type, index| %>
      <div role="tabpanel" class="tab-pane  <%= 'active' if index==0%>" id="at-<%= activity_type.id %>">
        <div class="panel-body">
            <table class='table table-condensed'>
              <thead>
                <th>Barcode</th><th>Facts</th>
              </thead>
              <tbody>
                <% Asset.all.select{|asset| asset.asset_groups.empty?}.each do |asset| %>
                  <tr>
                    <td><%= asset.barcode %>
                    </td><td></td>
                    <td>
                      <% asset.facts.each do |fact| %>
                        <%= render :partial => 'facts/fact', :locals => { :fact => fact} %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script type='text/javascript'>
(function() {
  $('#samples_started .nav a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
}());
</script>
