<div class="form-group">
  <%= bootstrap_form_for [@activity, @asset_group], action: 'update', remote: true, html: { :autocomplete => 'off', :"data-psd-asset-group-form" => "1"} do |f| %>

  <input type="hidden" name="asset_group[delete_barcode]" id="asset_group_delete_barcode" value="" />
  <label class="control-label">What do I have?</label>
  <div class="panel panel-default">
    <div class="panel-header barcode-adding-control">
      <label for="asset_group_add_barcode" class="control-label">Add a barcode</label>
      <div class="input-group">
        <input name='asset_group[add_barcode]' id="asset_group_add_barcode" class="form-control" type='text' placeholder='Scan a barcode' />
        <span class="input-group-btn">
          <%= button_tag(class: "btn btn-default barcode-send", title: "Send barcode") do %>
             <span class="glyphicon glyphicon-arrow-down"></span>
          <% end %>
        </span>
      </div>

    </div>
    <% unless @asset_group.assets.empty? %>
    <div class="panel-body <%= 'not-matched' if @step_types.empty? %>">
      <div>
        <% if @step_types.empty? %>
          <h4>No compatible steps were found</h4>
        <% end %>
        <div class="row">
          <ul class="nav nav-pills">
          <% @step_types = @asset_group.activity.step_types if @step_types.empty? %>
          <% unless @step_types.length == 1 %>
            <% @step_types.each do |step_type| %>
              <li role="presentation" class="">
                <a href="#at-<%= step_type.id %>" aria-controls="at-<%= step_type.id %>" role="tab" data-toggle="tab"><%= step_type.name %></a>
              </li>
            <% end %>
          <% end %>
          </ul>
          <div class="<%= 'tab-content' unless @step_types.length == 1%>">
            <% @step_types.each do |step_type| %>
              <div role="tabpanel" class="tab-pane"
                  id="at-<%= step_type.id %>">
                <% asset_types_for(@assets_grouped, step_type) do |fact_group, assets, cgs| %>
                  <%= render :partial => 'asset_groups/asset_type', :locals => {
                      :fact_group => fact_group, :assets => assets, :cgs => cgs } %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <hr />
    <div class="panel-body collapse in" id="collapseAssets">
      <% unless @assets.empty? %>
      <table class="table table-condensed">
        <thead><th>Barcode</th><th>Facts</th><th><span class='pull-right'></span></th></thead>
        <tbody data-psd-asset-group-content="1">
          <% @assets.distinct.each_with_index do |asset, i| %>
            <tr>
              <td><%= asset.barcode %></td>
              <td>
                <%= render :partial => 'facts/facts', :locals => { :facts => asset.facts, :show_image => true, :show_facts => true } %>
              </td>
              <td>
                <button class="btn btn-default delete-button" data-psd-asset-group-delete-barcode="<%= asset.barcode %>">Delete</button>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% else %>
        <div class="empty-description"><span>This activity has no assets selected yet.</span></div>
      <% end %>
    </div>
    <div class="panel-footer">
    </div>
  </div>
  <% end %>
</div>

