<div class="col-xs-4 condition-group-label
  <%= 'matched-group' unless cgs.empty? %>
  <%= 'empty-group' if assets.empty? %>">
  <% if @step_types.length > 0 %>
    <div class="row">
      <div class="col-xs-12">
        <% if cgs.empty? %>
          Type: <i>Unknown</i>
        <% else %>
          Type: <b><%= cgs.map(&:name).join(',') %></b>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-xs-8">
      <%= render :partial => 'facts/facts', :locals => {:facts =>fact_group, :show_facts => true, :show_image => true} %>
    </div>
    <div class="col-xs-4">
      <span class="h4">&times;<%= assets.count %></span>
    </div>
  </div>
</div>
