<%= bootstrap_form_for(@kit_type, :html => { :autocomplete => 'off'}) do |f| %>
  <% if @kit_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kit_type.errors.count, "error") %> prohibited this kit_type from being saved:</h2>

      <ul>
      <% @kit_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% readonly = params[:action] == 'show' %>
  <div class="field">
    <%= f.text_field :name, :readonly => readonly %>
  </div>
  <div class="field">
    <%= f.text_field :target_type, :readonly => readonly %>
  </div>
  <div class="field">
    <%= f.select :activity_type_id, options_for_select(@activity_types.map{|a| [a.name, a.id]}), {},
    :disabled => readonly %>
  </div>
  <% unless readonly %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>
