<%= form_for(@kit_type) do |f| %>
  <% if @kit_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kit_type.errors.count, "error") %> prohibited this kit_type from being saved:</h2>

      <ul>
      <% @kit_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :target_type %><br>
    <%= f.text_field :target_type %>
  </div>
  <div class="field">
    <%= f.label :process_type_id %><br>
    <%= f.text_field :process_type_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
