<%= bootstrap_form_for(@kit, :html => { :autocomplete => 'off'}) do |f| %>
  <% if @kit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kit.errors.count, "error") %> prohibited this kit from being saved:</h2>

      <ul>
      <% @kit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% readonly = params[:action] == 'show' %>
  <div class="field">
    <%= f.text_field :barcode, :readonly => readonly %>
  </div>
  <div class="field">
    <%= f.number_field :max_num_reactions, :readonly => readonly %>
  </div>
  <div class="field">
    <%= f.number_field :num_reactions_performed, :readonly => readonly %>
  </div>
  <div class="field">
    <%= f.select :kit_type_id, options_for_select(@kit_types.map{|a| [a.name, a.id]}), {},
    :disabled => readonly %>
  </div>
  <% unless readonly %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>
