<%= bootstrap_form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
  <% readonly = params[:action] == 'show' %>
  <div class="field">
    <%= f.text_field :barcode, :readonly => readonly %>
  </div>

  <div class="field">
    <%= f.text_field :username, :readonly => readonly %>
  </div>

  <div class="field">
    <%= f.text_field :fullname, :readonly => readonly %>
  </div>

  <div class="field">
    <%= f.select :role, options_for_select([['Operator', 'operator'],['Administrator', 'administrator']], user.role), {}, :disabled => readonly  %>
  </div>

  <div class="field">
    <%= f.select :tube_printer_id, options_for_select(Printer.for_tube.map{|a| [a.name, a.id]}, user.tube_printer ? user.tube_printer.id : nil), {},
    :disabled => readonly %>
  </div>

  <div class="field">
    <%= f.select :plate_printer_id, options_for_select(Printer.for_plate.map{|a| [a.name, a.id]}, user.plate_printer ? user.plate_printer.id : nil), {},
    :disabled => readonly %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
