<p id="notice"><%= notice %></p>

<h1>Users <small>Index</small></h1>

<%= bootstrap_link_to 'New User', new_user_path %>

<br />
<br />

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Barcode</th>
      <th>Username</th>
      <th>Full Name</th>
      <th>Role</th>
      <th>Tube Printer</th>
      <th>Plate Printer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.barcode %></td>
      <td><%= user.username %></td>
      <td><%= user.fullname %></td>
      <td><%= user.role %></td>
      <% if user.tube_printer %>
        <td><%= user.tube_printer.name %></td>
      <% end %>
      <% if user.plate_printer %>
        <td><%= user.plate_printer.name %></td>
      <% end %>
        <td><%= bootstrap_link_to 'Show', user %></td>
        <td><%= bootstrap_link_to 'Edit', edit_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


