<%= bootstrap_form_for(@activity_type, :html => { :autocomplete => 'off'}) do |f| %>
  <% if @activity_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity_type.errors.count, "error") %> prohibited this activity_type from being saved:</h2>

      <ul>
      <% @activity_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% readonly = params[:action] == 'show' %>
  <div class="field form-group">
    <%= f.text_field :name, :readonly => readonly %>
  </div>

  <div class="field form-group activity-step-types container row">
    <div>
    <%= f.label :step_types %>
    </div>
    <% options = {} %>
    <% options = options.merge({:disabled => StepType.all.map(&:id)}) if readonly %>
      <%= collection_check_boxes(:activity_type, :step_type_ids, StepType.all, :id, :name, options) do |b| %>
        <div class="checkbox row ">
          <%= b.label :class => "checkbox-inline #{'active' if @activity_type.step_types.include?(b.object)}" do %>
            <%= b.check_box %>
            <%= b.text %>
            <!--  % b.check_box + b.text % -->
          <% end %>
          <%= bootstrap_link_to 'Show', step_type_path(b.object, :format=> :html) %>
        </div>
      <% end %>
    </div>

  <% unless readonly %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>
