<%= bootstrap_form_for(@activity_type, :html => { :autocomplete => 'off'}) do |f| %>
  <% if @activity_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity_type.errors.count, "error") %> prohibited this activity_type from being saved:</h2>

      <ul>
      <% @activity_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% readonly = params[:action] == 'show' %>
  <div class="field form-group">
    <%= f.text_field :name, :readonly => readonly %>
  </div>

  <div class="field form-group activity-step-types container row">
    <div>
    <%= f.label :step_types %>
    </div>
    <% options = {} %>
    <% options = options.merge({:disabled => StepType.visible.map(&:id)}) if readonly %>
      <%= collection_check_boxes(:activity_type, :step_type_ids, StepType.visible, :id, :name, options) do |b| %>
        <div class="checkbox row ">
          <%= b.label :class => "checkbox-inline #{'active' if @activity_type.step_types.include?(b.object)}" do %>
            <%= b.check_box %>
            <%= b.text %>
            <!--  % b.check_box + b.text % -->
          <% end %>
          <%= bootstrap_link_to 'Show', step_type_path(b.object, :format=> :html) %>
        </div>
      <% end %>
    </div>


<div class="modal fade" id="editorContainer" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Rule editor</h4>
      </div>
      <div class="modal-body">
    <div id="editor" style="border: 1px solid #CCC; padding: 10px; border-radius: 5px; height: 30em;"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit :class => 'btn btn-default update-n3' %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

  <% unless readonly %>
    <div class="actions">
      <button class='btn btn-default show-n3' data-toggle="modal" data-target="#editorContainer">Edit N3</button>      
      <%= f.submit %>
    </div>
  <% end %>
  <input type="hidden" name="activity_type[n3_definition]" id="n3_definition" value="<%= @activity_type.to_n3 %>" %>
<script type="text/javascript">
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/text");

    $('button.show-n3').on('click', $.proxy(function(e) {
      e.preventDefault();
      editor.setValue($('input#n3_definition').val());
    }, this))

    $('.update-n3').on('click', $.proxy(function(e) {
      $('input#n3_definition').val(editor.getValue());
    }, this));

</script>

<% end %>
