<p id="notice"><%= notice %></p>

<h1>Activity Types <small>Index</small></h1>
<%= bootstrap_link_to 'New Activity type', new_activity_type_path %>
<br />
<br />
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activity_types.visible.each do |activity_type| %>
      <tr>
        <td><%= activity_type.name %></td>
        <td><%= bootstrap_link_to 'Show', activity_type %></td>
        <td><%= bootstrap_link_to 'Edit', edit_activity_type_path(activity_type) %></td>
        <td>
          <% if activity_type.instruments.length > 0 %>
            <%= bootstrap_form_for(@activity) do |f| %>
              <div class="hidden">
                <%= f.text_field(:activity_type_id, :value => activity_type.id, :readonly => true) %>
              </div>
              <input type="submit" class="btn btn-default" value="Test" />
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


