<%= bootstrap_form_for(@asset) do |f| %>
  <% if @asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% @asset.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% readonly = params[:action] == 'show' %>
  <div class="field">
    <%= f.text_field :barcode, :readonly => readonly %>
  </div>

  <div  data-psd-component-class="ConditionGroups" data-psd-component-parameters="<%= @asset.condition_groups_init.to_json %>">
    <div id="conditionGroups">
    </div>
  </div>
  <div class="actions">
    <%= f.submit :class => 'submitAssetFacts btn btn-default' %>
  </div>
  <script type="text/javascript">
  $('.submitAssetFacts').on('click', function() {
    var input = document.createElement('input');
    $(input).attr('type', 'hidden');
    $(input).attr('name', "asset[facts]");
    var val = $('.fact').map(function(pos, fact) {
      return {
        action_type: $(fact).data('psd-fact-action-type'),
        predicate: $(fact).data('psd-fact-predicate'),
        object: $(fact).data('psd-fact-object')
      };
    }).toArray();
    $(input).attr('value', JSON.stringify(val));
    $('.submitAssetFacts').append($(input));
  });
  </script>
<% end %>
