<p id="notice"><%= notice %></p>

<h1>Assets <small>Index</small></h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Barcode</th>
      <th>Facts</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assets.each do |asset| %>
      <tr>
        <td><%= asset.barcode %></td>
        <td>
          <%= render :partial => 'facts/facts', :locals => {:facts => asset.facts, :show_image => true, :show_facts => true} %>
        </td>
        <td><%= bootstrap_link_to 'Show', asset %></td>
        <td><%= bootstrap_link_to 'Edit', edit_asset_path(asset) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @assets, renderer: BootstrapPagination::Rails %>
<br>

<%= bootstrap_link_to 'New Asset', new_asset_path %>
