<p id="notice"><%= notice %></p>

<h1>Assets <small>Search</small></h1>

<h4> Query </h4>
<div class="well">
  <% @queries.each do |query| %>
    <%= render :partial => 'facts/fact', :locals => {:fact => query }%>
  <% end %>
</div>

<h4> Results </h4>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Barcode</th>
      <th>Facts</th>
      <th>Activities</th>
    </tr>
  </thead>

  <tbody>
    <% @assets.each_with_index do |asset, index| %>
      <tr>
        <td><%= bootstrap_link_to asset.barcode, asset %></td>
        <td>
          <%= render :partial => 'facts/facts', :locals => {:facts => asset.facts} %>
        </td>
        <td>
          <% @activities[index].each do |a| %>
            <%= bootstrap_link_to a.activity_type.name+a.id.to_s, a %>
          <% end %>
        </td>
        <!--td><%= bootstrap_link_to 'Edit', edit_asset_path(asset) %></td>
        <td><%= bootstrap_link_to 'Destroy', asset, method: :delete, data: { confirm: 'Are you sure?' } %></td -->
      </tr>
    <% end %>
  </tbody>
</table>

<h4> Steps </h4>

<%= render :partial => 'steps/steps', :locals => {:steps => @steps } %>
