<p id="notice"><%= notice %></p>

<h1>Assets <small>Search</small></h1>

<h4> Query </h4>
<div class="well">
  <%= Time.now - @start_time %> seconds
  <% @queries.each do |query| %>
    <%= render :partial => 'facts/fact', :locals => {:fact => query }%>
  <% end %>
</div>

<h4> <%= @assets.count %> results </h4>
<% unless @assets.empty? %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Barcode</th>
        <th>Facts</th>
      </tr>
    </thead>

    <tbody>
      <% @assets.each_with_index do |asset, index| %>
        <tr>
          <td><%= bootstrap_link_to asset.barcode, asset %></td>
          <td>
            <%= render :partial => 'facts/facts', :locals => {:facts => asset.facts} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>


  <% if @asset_group %>
    <%= bootstrap_link_to 'Print Labels GROUP '+@asset_group.id.to_s, print_asset_group_path(@asset_group) %>
  <% end %>
<% end %>


