<p id="notice"><%= notice %></p>

<h1>Assets <small>Search</small></h1>

<div class="well">
  <% @queries.each do |query| %>
    <%= render :partial => 'facts/fact', :locals => {:fact => query }%>
  <% end %>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Barcode</th>
      <th>Facts</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assets.each do |asset| %>
      <tr>
        <td><%= asset.barcode %></td>
        <td>
          <% asset.facts.each do |fact| %>
            <%= render :partial => 'facts/fact', :locals => {:fact => fact} %>
          <% end %>
        </td>
        <td><%= bootstrap_link_to 'Show', asset %></td>
        <td><%= bootstrap_link_to 'Edit', edit_asset_path(asset) %></td>
        <td><%= bootstrap_link_to 'Destroy', asset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
