<p id="notice"><%= notice %></p>

<%= render 'form' %>

<%= bootstrap_link_to 'Print', print_asset_path(@asset) %>
<%= bootstrap_link_to 'Edit', edit_asset_path(@asset) %>
<%= bootstrap_link_to 'Back', :back %>
