<div class="form-group" id="steps_finished" data-psg-steps-update-url="<%= activity_path(@activity)+'/steps_finished' %>" data-psg-steps-update-complete-url="<%= activity_path(@activity)+'/steps_finished_with_operations' %>">
  <label class="control-label">What happened before?</label>
  <div class="panel panel-default">
    <div class="panel-body">
      <% unless steps.count == 0 %>
      <table class="table table-condensed table-hover steps-table">
        <thead><th>Step id</th><th>Step type</th><th>Activity id</th><th>Activity type</th></thead>
        <tbody>
          <% steps.each do |step| %>
            <tr data-toggle="collapse" data-target="#step-<%= step.id %>" data-psg-step-id="<%= step.id %>" class="clickable info"><td><%= step.id %></td><td><%= step.step_type.name %></td><td><%= step.activity.id %></td><td><%= step.activity.activity_type.name %></td></tr>

            <tr class="operations">
              <td colspan="4">
                <div id="step-<%= step.id %>" class="collapse <%= 'in' if params[:step_id].to_i==step.id %>">
                  <% unless current_page?(action: 'steps_finished') %>

                  <table class="table">
                    <thead><th>Action</th><th>Barcode</th><th>Fact</th>
                    </thead>
                    <tbody>
                        <%= render :partial => 'operations/operations', :locals => {
                          :operations => step.operations.for_presenting } %>
                        <% step.uploads.each do |upload| %>
                          <tr>
                            <td></td>
                          </tr>
                      <% end %>
                    </tbody>
                  </table>

                  <% end %>

                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% else %>
        <div class="empty-description"><span>This activity has no steps yet.</span></div>
      <% end %>
    </div>
  </div>
</div>

<% if current_page?(action: 'steps_finished') %>

<script type="text/javascript">
  $("tr[data-target]").on('click', function(e) {
    $("#steps_finished").load($("#steps_finished").data("psg-steps-update-complete-url")+'/'+$(e.currentTarget).data('psg-step-id'));
  });
</script>
<% end %>

