  <div class="panel panel-default">
    <div class="panel-body">
      <% unless steps.count == 0 %>
      <table class="table table-condensed table-hover steps-table">
        <thead><th>Step id</th><th>Step type</th><th>Activity id</th><th>Asset Group</th><th>Username</th><th>Last update</th><th>Status</th></thead>
        <tbody>
          <% steps.each do |step| %>
            <% next if step.deprecated? %>
            <tr data-toggle="collapse" data-target="#step-<%= step.id %>" data-psd-step-id="<%= step.id %>" class="clickable  <%= color_for_state(step.state) %>"><td><%= step.id %></td><td><%= step.step_type.name if step.step_type %></td><td><%= step.activity ? step.activity.id : '' %></td><td><%= step.asset_group ? step.asset_group.id : '' %></td><td><%= step.user.username if step.user %></td><td><%= step.updated_at %><td style="text-align:center;" class="<%= 'spinner' if step.state == 'running' %>"><%= image_for_state(step.state) %></td></tr>
            <tr class="operations <%= 'cancelled' if step.cancelled? %>"               
              data-psd-component-class="StepCancellable" 
              data-psd-component-parameters="<%= 
              if step.activity && step.step_type
                { url: activity_step_type_step_path(step.activity, step.step_type, step)}.to_json 
              else
                { url: step_path(step)}.to_json 
              end

              %>"
              >
              <td colspan="7">
                <div id="step-<%= step.id %>" class="collapse <%= 'in' if params[:step_id].to_i==step.id %>">
                  <% unless @in_steps_finished %>
                  <table class="table">
                    <thead><th>Action</th><th>Barcode</th><th>Fact<input style="display:none;" type="checkbox" <%= 'checked="checked"' unless step.cancelled? %> class='pull-right'></th>
                    </thead>
                    <tbody>
                      <% if step.operations.for_presenting.length == 0 %>
                        <tr><td colspan="7">No operations performed in this step.</td></tr>
                      <% else %>
                        <%= render :partial => 'operations/operations', :locals => {
                          :operations => step.operations.for_presenting } %>
                        <% step.uploads.each do |upload| %>
                          <tr>
                            <td></td>
                          </tr>
                      <% end %>                      
                      <% end %>
                    </tbody>
                  </table>

                  <% end %>

                      <% if step.output %>
                      <table class="table">
                        <thead>
                          <th>Output</th>
                        </thead>
                        <tbody>
                        <tr class="output">
                          <td>
                            <pre>
                              <%= step.output %>
                            </pre>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                      <% end %>

                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% else %>
        <div class="empty-description"><span>This activity has no steps yet.</span></div>
      <% end %>
    </div>
  </div>
