<div class="form-group" data-psd-steps-update-url="<%= activity_path(@activity)+'/steps' %>" data-psd-steps-update-complete-url="<%= activity_path(@activity)+'/steps_finished_with_operations' %>">
  <label class="control-label">What happened before?</label>
  <%= render :partial => 'steps/steps', :locals => {:steps => @steps.reverse} %>
</div>

<% @steps.each do |step| %>
  <% if step.failed? %>
    <%= form_tag execute_actions_step_url(step), remote: true do %>
      <button type='submit' class='btn btn-default'>Rerun failed step <%= step.id %></button>
    <% end %>
  <% end %>
<% end %>
          


<%# if current_page?(controller: 'activity', action: 'update') %>

<!-- script type="text/javascript">
  $("tr[data-target]").on('click', function(e) {
    $("#steps_finished").load($("#steps_finished").data("psd-steps-update-complete-url")+'/'+$(e.currentTarget).data('psd-step-id'));
  });
</script -->
<%# end %>

