


<%= bootstrap_form_for(step_type, :html => { :"data-psd-component-class" => "ConditionGroups", :"data-psd-component-parameters" => condition_groups_init_for_step_type(@step_type)}) do |f| %>
  <% if step_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(step_type.errors.count, "error") %> prohibited this step_type from being saved:</h2>

      <ul>
      <% step_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% readonly = params[:action] == 'show' %>
  <div class="field step_type_name">
    <%= f.text_field :name, :readonly => readonly %>
  </div>
  <div class="field step_type_for_reasoning">
    <%= f.check_box :for_reasoning, :value => false, :disabled => readonly %>
  </div>
  <div class="field for-reasoning">
    <%= f.select :step_action, options_for_select( [['None',nil]].concat((step_type.all_step_actions).map{|sa| [sa, sa]}),
	step_type.step_action || nil), {}, disabled: readonly %>
  </div>
  <div class="field not-for-reasoning">
    <%= f.select :connect_by, options_for_select([['All', nil], ['By position', 'position']], step_type.connect_by), {}, :disabled => readonly %>
  </div>
  <div class="field not-for-reasoning">
    <%= f.select :step_template, options_for_select(step_type.all_step_templates.map do |a|
      if a.empty?
        ['None', nil]
      else
        [a, a]
      end
    end, step_type.step_template || nil), {},
    :disabled => readonly %>
  </div>

  <div class="field">
    <%= f.hidden_field :n3_definition, value: "#{step_type.for_reasoning ? step_type.n3_definition : nil}" %>

    <div id="conditionGroups" class="not-for-reasoning <%= 'readonly' if readonly %>">
      <div class="btn-group">
        <a class="btn btn-default" data-psd-condition-group-action-types="<%= Action.types.to_json %>"
        >New Condition Group</a>
        <a class="btn btn-default" data-psd-asset-facts-action-types="[addFacts]"
        >New Asset</a>
      </div>
    </div>

  </div>


<div class="modal fade" id="editorContainer" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Rule editor</h4>
      </div>
      <div class="modal-body">
    <div id="editor" style="border: 1px solid #CCC; padding: 10px; border-radius: 5px; height: 30em;"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit :class => 'btn btn-default update-n3' %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




  <div class="actions">
    <% unless readonly %>
      <button class='btn btn-default show-n3' data-toggle="modal" data-target="#editorContainer">Edit N3</button>
      <%= f.submit :class => 'btn btn-default',"data-psd-condition-groups-save"=>true %>
    <% end %>
  </div>
<script type="text/javascript">
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");
</script>

<% end %>
