
<ul class="step-selection list-inline ">
  <% step_types.each do |step_type| %>
    <li>
      <% unless step_type.step_template.nil? || step_type.step_template.empty? %>
        <a href="#step-type-id-<%= step_type.id %>" class="btn btn-primary" data-toggle="pill">
          <%= step_type.name %>
        </a>
      <% else %>
      <%= bootstrap_form_for [@activity, step_type, Step.new], action: 'create' do |f| %>
          <%= f.hidden_field :tube_printer_id, :value => @current_user ? @current_user.tube_printer_id : nil, :class => 'tube_printer' %>
          <%= f.hidden_field :plate_printer_id, :value => @current_user ? @current_user.plate_printer_id : nil, :class => 'plate_printer' %>
          <%= f.submit step_type.name, :class => 'btn btn-primary' %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>

<div class="step-template-view">
  <div class="tab-content">
  <% step_types.select{|s| s.step_template }.each_with_index do |step_type, index| %>
    <% unless step_type.step_template.nil? || step_type.step_template.empty? %>

    <div id="step-type-id-<%= step_type.id %>" class="tab-pane container step-type-template">
      <%= render :partial => 'step_types/step_template',
          :locals => { :step_type => step_type, :index => index } %>
    </div>
    <% end %>
  <% end %>
  </div>
</div>
