<div class="container">
<h5><%= step_type.name %></h5>
<%= render :partial => 'step_types/step_templates/' + step_type.step_template,
      :locals => { :step_type => step_type, :index => index } %>
</div>
<%= bootstrap_form_for @activity, action: 'update', class: 'step-template-form' do |f| %>
  <input type="hidden" name="step_type" value="<%= step_type.id %>" />
  <input type="hidden" name="user_barcode" value="" />
  <input type="hidden" name='step_params[state][done]' value='true' />

  <% if @upload_ids %>
    <input type="hidden" name="upload_ids" value="<%= @upload_ids %>" />
  <% end %>
<% end %>
