<div class="alert panel panel-default" data-psd-component-class="ConditionGroup" data-psd-component-parameters='<%= facts %>'>
  <div class="panel-heading">
    <h4 class="panel-title">

      <span>Name: <ins><span data-psd-condition-group-title="true" data-psd-editable-text-regexp="^[a-zA-Z][a-zA-Z0-9]*$" data-psd-component-class="EditableText"><%= name %></span></ins></span>

      <span class="title">Cardinality: <ins><span data-psd-condition-group-cardinality="true" data-psd-editable-text-regexp="^[0-9]*$"
      data-psd-component-class="EditableText"><%= cardinality %></span></ins></span>

      <span>Selection: <ins>
      <span class="button-switch" data-psd-component-class="ButtonSwitch">
        <span data-psd-button-switch-content="open" data-psd-button-switch-selected="<%= keepSelected %>" class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        <span data-psd-button-switch-content="close" data-psd-button-switch-selected="<%= !keepSelected %>" class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
      </span></ins></span>


      <button data-condition-group-remove="1" data-dismiss="alert"  class="close pull-right ">&times;</button>
    </h4>

  </div>
  <div class="panel-body">
    <small>Conditions</small>
    <div class="check-facts">
      This asset has no checks yet.
    </div>
  </ul>
  </div>
  <hr />
  <div class="panel-body">
    <small>Actions</small>
    <div class="facts">
      This asset has no annotations yet.
    </div>
  </ul>
  </div>

  <div class="panel-footer">

    <div class="input-group" data-psd-component-class="FactReader">
      <div class="input-group-btn" data-psd-fact-reader-operation-selector="true">
        <button type="button" class="btn btn-default dropdown-toggle"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span data-psd-fact-reader-button-text="true">Select Operation</span>
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <% for(var i=0; i<actionTypes.length; i++) { %>
            <% action_type = actionTypes[i]; %>
            <li><a href="#" data-psd-fact-reader-action-type="<%= action_type %>">
              <% if (action_type == 'addFacts') { %>
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              <% } %>
              <% if (action_type == 'removeFacts') { %>
                <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
              <% } %>
              <% if (action_type == 'createAsset') { %>
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              <% } %>
              <% if (action_type == 'selectAsset') { %>
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
              <% } %>
              <% if (action_type == 'unselectAsset') { %>
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              <% } %>
              <% if (action_type == 'checkFacts') { %>
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              <% } %>

              <%= action_type %>
            </a></li>
          <% } %>
        </ul>
      </div>
      <input data-psd-fact-reader-text-input="true" type="text" name="object"
      class="form-control" aria-label="...">
      <div class="input-group-btn">
        <button data-psd-fact-reader-add="true" type="button" class="btn btn-default form-control">Add</button>
      </div>
    </div>

  </div>

</div>
