<div class="fact" data-psd-component-class="DeleteIcon"
  data-psd-fact-action-type="<%= actionType %>"
  data-psd-fact-predicate="<%= predicate %>"
  data-psd-fact-object="<%= object %>"
  >
  <span class="label label-default">
    <span class=" <%= cssClasses %>"></span>&nbsp;
    <span class="editable-fact" data-psd-component-class="EditableText" data-psd-editable-text-regexp="[A-Za-z][A-Za-z0-9]*:[A-Za-z][A-Za-z0-9]*"><%= (typeof predicateLabel!=='undefined') ? predicateLabel : predicate %>:<span class="object"><%= (typeof objectLabel !=='undefined') ? objectLabel : object %></span></span>
    <span data-psd-delete-icon='true'>&times;</span>
  </span>
</div>
