<div class="form-group">
  <!-- %= bootstrap_form_for [@activity, @asset_group], action: 'update', remote: true, html: { :autocomplete => 'off', :"data-psd-asset-group-form" => "1"} do |f| % -->
  <%= bootstrap_form_for [@activity, @asset_group], action: 'update', remote: true,
  html: { :autocomplete => 'off', :"data-psd-asset-group-form" => "1"} do |f| %>

  <input type="hidden" name="delete_barcode" value="" />
  <label class="control-label">What do I have?</label>
  <div class="panel panel-default">
    <div class="panel-header">
      <label for="add_barcode" class="control-label">Add a barcode</label>
      <div class="input-group">
        <input name='add_barcode' class="form-control" type='text' placeholder='Scan a barcode' />
        <span class="input-group-btn">
          <%= button_tag(class: "btn btn-default barcode-send") do %>
             <span class="glyphicon glyphicon-arrow-down"></span>
          <% end %>
        </span>
      </div>
    </div>
    <div class="panel-body ">
      <div data-toggle="collapse" href="#collapseAssets">
      <div class="row">
      <% @assets_grouped.each do |fact_group, assets| %>
        <div class="col-xs-4 ">
          <% if @step_types.length > 0 %>
            <div class="col-xs-12 condition-group-label">
              <ul class="list-unstyled">
                <% fake_asset = Struct.new(:facts).new(fact_group) %>
                <% @step_types.each do |step_type| %>
                  <% cgs=step_type.condition_groups.select do |c| %>
                    <% c.compatible_with?(fake_asset) %>
                  <% end %>
                  <% if cgs %>
                    <li><i><%= cgs.map(&:name).join(',') if cgs %></i> in <b><%= step_type.name %></b></li>
                  <% end %>
                <% end %>

              </ul>
            </div>
          <% end %>
          <div class="col-xs-12">
            <div class="col-xs-6">
              <%= render :partial => 'facts/facts', :locals => {
                :facts =>fact_group, :show_facts => true, :show_image => true} %>
            </div>
            <div class="col-xs-6">
              <span class="h4">&times;<%= assets.count %></span>
            </div>
          </div>
        </div>
      <% end %>
      </div>
        </div>
    </div>
    <hr />
    <div class="panel-body collapse in" id="collapseAssets">
      <% unless @assets.empty? %>
      <table class="table table-condensed">
        <thead><th>Barcode</th><th>Facts</th><th><span class='pull-right'></span></th></thead>
        <tbody data-psd-asset-group-content="1">
          <% @assets.distinct.each_with_index do |asset, i| %>
            <tr>
              <td><%= asset.barcode %></td>
              <td>
                <%= render :partial => 'facts/facts', :locals => { :facts => asset.facts, :show_image => true, :show_facts => true } %>
              </td>
              <td>
                <button class="btn btn-default delete-button" data-psd-asset-group-delete-barcode="<%= asset.barcode %>">Delete</button>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% else %>
        <div class="empty-description"><span>This activity has no assets selected yet.</span></div>
      <% end %>
    </div>
    <div class="panel-footer">
    </div>
  </div>
  <% end %>
</div>

