<p id="notice"><%= notice %></p>

<h1>My Activities <small>Index</small></h1>
<br />
<br />
<% if (@current_user && !@my_activities.empty?) %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Activity Type</th>
      <th>Last update</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @my_activities.reverse.each do |activity| %>
      <tr>
        <td><%= activity.id %></td>
        <td><%= activity.activity_type.name %></td>
        <td><%= activity.updated_at %></td>
        <td><%= bootstrap_link_to 'Show', activity %></td>
        <!-- td>< %= bootstrap_link_to 'Destroy', activity_type, method: :delete, data: { confirm: 'Are you sure?' } %></td -->
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p>
No activities belonging to the current user
</p>
<% end %>
<br>


