<p id="notice"><%= notice %></p>

<h1>Activity <%= @activity.id %></h1>

<%= bootstrap_form_for @activity, action: 'show', :html => { :class => 'form-inline activity-desc' } do |f| %>
  <%= f.text_field :activity_type, :value => @activity.activity_type.name,:readonly => true %>
  <%= f.text_field :instrument, :value => @activity.instrument.barcode,:readonly => true %>
  <%= f.text_field :kit, :value => @activity.kit.barcode,:readonly => true %>
  <!-- %= f.text_field :tube_printer, :value => @current_user.tube_printer_name,:readonly => true %>
  < % = f.text_field :plate_printer, :value => @current_user.plate_printer_name,:readonly => true % -->
<% end %>
<%= render :partial => 'printers_selection' %>
<% if @assets && !@activity.finished? %>
  <div class="firststeptype"><%= render :template => 'step_types/active' %></div>
<% end %>

<% if @activity.finished? %>
<div class="panel">
  This activity was finished at <%= @activity.completed_at %>
</div>
<% else %>
  <div id="asset-group-container">
  <%= render :template => 'asset_groups/show' %>
  </div>
<% end %>
<% if @assets && !@activity.finished? %>
  <div class="laststeptype"><%= render :template => 'step_types/active' %></div>
<% end %>

  <div id="steps_finished">
  <%= render :template =>'steps/finished' %>
  </div>

  <% unless @activity.finished? %>
    <%= bootstrap_form_for @activity, action: 'update', :html => {:class => 'operator-allowed'} do |f| %>
      <input type="hidden" name="user_barcode" value="" />
      <button name="finish" class='btn btn-danger'>Finish activity?</button> &nbsp;
    <% end %>
  <% end %>
<%= bootstrap_link_to 'Back', :back %>
