<p id="notice"><%= notice %></p>

<h1>Activity <%= @activity.id %></h1>

<%= bootstrap_form_for @activity, action: 'show', :html => { :class => 'form-inline activity-desc' } do |f| %>
  <%= f.text_field :activity_type, :value => @activity.activity_type.name,:readonly => true %>
  <%= f.text_field :instrument, :value => @activity.instrument.barcode,:readonly => true %>
  <%= f.text_field :kit, :value => @activity.kit.barcode,:readonly => true %>
<% end %>

<% if @assets && !@activity.finished? %>
  <%= render :partial =>'steps/active', :locals => {
    :step_types => @step_types,
    :activity => @activity }
    %>
<% end %>

<% if @activity.finished? %>
<div class="panel">
  This activity was finished at <%= @activity.completed_at %>
</div>
<% else %>
  <%= render :partial => 'assets_selection' %>
<% end %>

  <%= render :partial =>'steps/finished', :locals => {:steps => @steps} %>

  <% unless @activity.finished? %>
    <%= bootstrap_form_for @activity, action: 'update' do |f| %>
      <input type="hidden" name="user_barcode" value="" />
      <button name="finish" class='btn btn-danger'>Finish activity?</button>
    <% end %>
  <% end %>
<%= bootstrap_link_to 'Back', :back %>
