<p id="notice"><%= notice %></p>

<h1>Activity <%= @activity.id %></h1>

<%= bootstrap_form_for @activity, action: 'show', :html => { :class => 'form-inline activity-desc' } do |f| %>
  <%= f.text_field :activity_type, :value => @activity.activity_type.name,:readonly => true %>
  <%= f.text_field :instrument, :value => @activity.instrument.barcode,:readonly => true %>
  <%= f.text_field :kit, :value => @activity.kit.barcode,:readonly => true %>
<% end %>

<%= render :partial => 'assets_selection' %>

<% if @assets %>
  <%= render :partial =>'steps/active', :locals => {
    :step_types => @step_types,
    :activity => @activity }
    %>
  <%= render :partial =>'steps/finished', :locals => {:steps => @steps} %>
<% else %>
  <%= render :partial =>'steps/finished', :locals => {:steps => @steps } %>
<% end %>
<%= bootstrap_link_to 'Edit', edit_activity_path(@activity) %>
<%= bootstrap_link_to 'Back', activities_path %>
