<div data-psd-component-class="TubeIntoRack" data-psd-component-parameters="<%= session[:data_params] %>">
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <%= svg 'TubeRack' %>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="form-group" data-psd-component-class="BarcodeReader">
        <label for="tube_barcocde" class="input">Barcode</label>
        <input id="tube_barcocde" class="form-control" name="tube_barcode" type="text" autocomplete="off" />
      </div>
      <%= bootstrap_form_for [@activity, step_type, Step.new], action: 'create', class: 'step-template-form' do |f| %>
      <input type="hidden" name="step[data_action]" value="racking" id="step_data_action" />
        <input type="hidden" name="step[data_params]" id="step_data_params"
          value="<%= session[:data_params] %>" />
        <input type="hidden" name='step[state]' value='done' />
        <input type="hidden" name='step[data_action_type]' value='before_step' />
        <%= f.submit %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <table class="table col-md-12">
      <thead>
        <th>Location</th><th>Barcode</th>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

</div>
