<%= bootstrap_form_for [@activity, step_type, Step.new], action: 'create', class: 'step-template-form' do |f| %>
  <%= f.hidden_field :tube_printer_id, :value => @current_user.tube_printer_id %>
  <%= f.hidden_field :plate_printer_id, :value => @current_user.plate_printer_id %>

  <input type="hidden" name='step[state]' value='in_progress' />
  <input type="hidden" name='step[data_action]' value='linking' />
  <input type="hidden" name='step[data_action_type]' value='progress_step' />
  <input type="hidden" name='step[data_params]' value="{}" class="step_data_params" id="step_data_params" />


<div data-psd-component-class="SourceToDestination" data-psd-component-parameters='{"template": "templates/source_to_destination", "names": <%= step_type.condition_groups.map(&:name) %>, "identifiers": <%= step_type.condition_groups.map(&:id) %>, "paramsNodeQuery": ".step_data_params"}'></div>

<% end %>

<%= render :partial => 'next_step_for_template', :locals => {:step_type => step_type} %>

