<%= bootstrap_form_for(@instrument, :html => { :autocomplete => 'off'}) do |f| %>
  <% if @instrument.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instrument.errors.count, "error") %> prohibited this instrument from being saved:</h2>

      <ul>
      <% @instrument.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% readonly = params[:action] == 'show' %>
  <div class="field">
    <%= f.text_field :barcode, :readonly => readonly %>
  </div>
  <div class="field">
    <%= f.text_field :name, :readonly => readonly %>
  </div>

  <div class="container activity-step-types row">
    <div class="row">
      <div class="col-md-12">
    <%= f.label :activity_types %>
      </div>
    </div>
    <% options = {} %>
    <% options = options.merge({:disabled => ActivityType.all.visible.map(&:id)}) if readonly %>
      <%= collection_check_boxes(:instrument, :activity_type_ids, ActivityType.all.visible, :id, :name, options) do |b| %>
        <div class="checkbox row ">
          <%= b.label :class => "checkbox-inline #{'active' if @instrument.activity_types.include?(b.object)}" do %>
            <%= b.check_box %>
            <%= b.text %>
          <% end %>
        <%= bootstrap_link_to 'Show', activity_type_path(b.object, :format=> :html) %>
        </div>
      <% end %>
    </div>

  <% unless readonly %>
    <div class="actions">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>
