<p id="notice"><%= notice %></p>

<h1>Instruments <small>Index</small></h1>

<%= bootstrap_link_to 'New Instrument', new_instrument_path %>
<br />
<br />

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Barcode</th>
      <th>Name</th>
      <th></th>
      <!--th colspan="3"></th -->
    </tr>
  </thead>

  <tbody>
    <% @instruments.each do |instrument| %>
      <tr>
        <td><%= instrument.barcode %></td>
        <td><%= instrument.name %></td>
        <td><%= bootstrap_link_to 'Use', instrument %>
          <%= bootstrap_link_to 'Edit', edit_instrument_path(instrument) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


