<p id="notice"><%= notice %></p>

<p>
  <strong>Instrument Barcode:</strong>
  <%= @instrument.barcode %>
</p>

<%= bootstrap_form_tag(url: activities_path, action: 'create') do |f| %>
  <%= f.hidden_field(:instrument_barcode, :value => @instrument.barcode) %>
  <%= f.text_field(:kit_barcode, :placeholder => 'Scan a kit barcode') %>
  <%= f.submit("Create activity") %>
<% end %>

<%= bootstrap_link_to 'Edit', edit_instrument_path(@instrument) %> |
<%= bootstrap_link_to 'Back', instruments_path %>
