<!DOCTYPE html>
<html>
<head>
  <title>SamplesExtraction</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'activity_pack' %>
  <%= stylesheet_pack_tag 'activity_pack' %>
  <%= csrf_meta_tags %>
  <meta name="turbolinks-cache-control" content="no-cache">
</head>
<body>

<%= render 'header' %>

<div style="width: 100%; display:table;">
<div class="main-view table-cell">
  <div data-psd-component-class="DisplayError"></div>

  <% unless flash[:notice].blank? %>
    <div class="alert alert-info">
      <%= flash[:notice].html_safe %>
    </div>
    <% end %>


  <% unless flash[:danger].blank? %>
    <div class="alert alert-danger">
      <%= flash[:danger].html_safe %>
    </div>
  <% end %>

  <%= yield %>

      <div class="well">
        <%= bootstrap_link_to "Feedback", "mailto:#{Rails.configuration.admin_email}" %> · <%= Deployed::VERSION_STRING %> · A tool from <%= bootstrap_link_to Rails.configuration.team_name, Rails.configuration.team_url %>
      </div>

<input type="hidden" id="refresh" value="no">
<script type="text/javascript">
$(document).ready(function(e) {
    var $input = $('#refresh');

    $input.val() == 'yes' ? location.reload(true) : $input.val('yes');
});
</script>

</div>
</div>


</body>
</html>
