<!DOCTYPE html>
<html>
<head>
  <title>SamplesExtraction</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="turbolinks-cache-control" content="no-cache">
</head>
<body data-no-turbolink="true">

  <% if (ENV["RAILS_ENV"] == :debug) %>
     <%= render 'peek/bar' %>
  <% end %>
<%= render 'header' %>

<div style="width: 100%; display:table;">
<div class="main-view table-cell">
  <div data-psd-component-class="DisplayError"></div>

  <% unless flash[:notice].blank? %>
    <div class="alert alert-info">
      <%= flash[:notice].html_safe %>
    </div>
    <% end %>


  <% unless flash[:danger].blank? %>
    <div class="alert alert-danger">
      <%= flash[:danger].html_safe %>
    </div>
  <% end %>

  <%= yield %>

      <div class="well">
        <%= Deployed::VERSION_STRING %> <%= Deployed::RELEASE_NAME %> <%= link_to Deployed::VERSION_COMMIT, Deployed::REPO_URL%> | <%= Deployed::HOSTNAME %>
      </div>
<p>
  <%= link_to "Feedback", "mailto:#{Rails.configuration.admin_email}" %> · A tool from <%= link_to Rails.configuration.team_name, Rails.configuration.team_url %>
</p>

<input type="hidden" id="refresh" value="no">
<script type="text/javascript">
$(document).ready(function(e) {
    var $input = $('#refresh');

    $input.val() == 'yes' ? location.reload(true) : $input.val('yes');
});
</script>

</div>
</div>


</body>
</html>
