<!DOCTYPE html>
<html>
<head>
  <title>SamplesExtraction</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if (ENV["RAILS_ENV"] == :debug) %>
     <%= render 'peek/bar' %>
  <% end %>
<%= render 'header' %>

<div class="main-view">
    <div data-psd-component-class="DisplayError"></div>
  <% unless flash[:notice].blank? %>
    <div class="alert alert-info">
      <%= flash[:notice] %>
    </div>
    <% end %>


  <% unless flash[:danger].blank? %>
    <div class="alert alert-danger">
      <%= flash[:danger] %>
    </div>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
